body {
  background-color: #eaf6f6;
}
hr {
  height: 0px;
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  border-color: grey;
}

h1,
h3 {
  color: #66bfbf;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
